annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
colorama
distro
h11
httpcore
httpx
idna
iniconfig
jiter
numpy
groq
packaging
pluggy
pydantic
pydantic_core
Pygments
PyPDF2
pytest
python-dotenv
requests
sniffio
soupsieve
tqdm
typing-inspection
typing_extensions
urllib3
chromadb
sentence-transformers
streamlit
apscheduler
pytz
